.up, .down {
    font-size: 1.6em;
    position: absolute;
}

.up {

    bottom: 8px;

}

.down {
    top: 8px;
}

.sort {
    height: 20px;
    width: 10px;

}

.table-ship td, .table-ship th {
    border: 0;
    padding: 5px;
}

.box {
    position: relative;
    padding-top: 100%;
    border: 2px solid #cccccc;
    border-radius: 5px;
    background: #f5f5f5;
    cursor: pointer;
}

.box-inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 2px;
}

.box-inner select {
    margin: 5px 0px;
}

#ship-modalTitle i {
    margin: 5px 20px;
    float: right;
    color: #dc3545;
}

#ship-modalTitle i {
    cursor: pointer;
}

.box-inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-inner .img-border {
    width: 100%;
    height: 100%;
    border: 2px solid #4CC552;
    border-radius: 5px;
}

#ship-modalTitle {
    width: 100%;
}

.ajax-background {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #000;
    opacity: 0;
    z-index: 100;
    display: none;
}
.collections-card, .one-item-collection-card {

    margin-top: 20px;
}
.collections-card>.card-header, .recipe-card>.card-header {
    background: #cdf59b;
    border: #769952 solid 2px;
}

.collections-card>.card-body, .recipe-card>.card-body {
    border: 2px solid #769952;
    border-top: 0;
}

.collections-card, .collections-card>.card-body>.card {

    margin-bottom: 20px;
}


.collections-card>.card-body>.card>.card-header {

    background: #f0ffda;
    border: 2px solid #abd39d;

}
.collections-card>.card-body>.card>.card-body {

    border: 2px solid #abd39d;
    border-top: 0;
}

.collections-card .btn-primary {

    background: #459944;
    border: 2px solid #3d7a3d;
}

.one-item-collection-card>.card-header {

    background: #fffba3;
    border: 2px solid #ffc400;
}

.one-item-collection-card>.card-body {

    border: 2px solid #ffc400;
    border-top: 0;
}

.clear-all {
    float: right;
    margin-right: 5px;
}

.techLevel {

    position: absolute;
    float: right;
    width: 20px;
    height: 20px;
    margin: 5px;
    background-color: #ffffff;
    border-radius: 3px;
    border: solid 1px #cccccc;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.ban-notification {

    position: relative;
    float: right;
    padding: 0 4px;
    background-color: #ffba00;
    color: #ffffff;
    border-radius: 5px;

}

.dark-border {
    border-color: #fd450c !important;
}